{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Entry</h1>

<form action="/newpost" method="POST">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="title">Title for your new blog:</label>
                </td>
                
                <td>
                    <input name="title" type="string" id="title">
                     
                </td>
            </tr>

            <tr>
                <td>
                    <label for="body">Your new Blog</label>
                </td>
                <td>
                    <input name="body" type="text" id="body">
                    
                </td>
            </tr>    
        </tbody>
    </table>    
    <input type="submit" value="Post">
</form>

{% endblock %}